.employees_section{
    max-width: 1280px;
    margin: 40px auto;
}

.form_container{
    width: 500px;
    margin: 50px auto;
}
.form_error {
    color: red;
}
table, tr{
    border: 1px solid;
}
tr,td,th{
    padding: 10px 20px;
}



@media screen and (max-width:768px) {
    .form_container{
        width: 100%;
    }
    .employees_section{
        width: 100%;
        overflow-x: scroll;
    }
    .main_container{
        margin: 20px;
    }
}