.employees_section{
    max-width: 1280px;
    margin: 40px auto;
}

.form_container{
    width: 500px;
    margin: 30px auto;
}
.form_error {
    color: red;
}


@media screen and (max-width:768px) {
    .form_container{
        width: 100%;
    }
    .employees_section{
        width: 100%;
        overflow-x: scroll;
    }
    .main_container{
        margin: 20px;
    }
}